@charset "UTF-8";

#wrap {
	width: 750px;
	height: auto;
}

.contents {
    min-height: 500px; 
}

header {
	height: 80px;
	background-color:#E0F8F7;
	border-radius: 12px;
	overflow: hidden;
}

#loginBox {
	width: 400px;
	height: 310px;
	background-color:#EFFBFB;
	border-color: #E6E6E6;
	border-radius: 15px;
	overflow: hidden;
}

#signUpForm {
	width: 500px;
	height: 340px;
	background-color:#EFFBFB;
	border-color: #E6E6E6;
	border-radius: 15px;
	overflow: hidden;
}

#writeTextArea {
	border:none;
	outline: none;
	padding: 20px;
}

#comment {
	border: none;
}

.logo-text, .logo-text:hover {
	text-decoration: none;
	color:#045FB4;
	font-style: italic;
}

.profile-image-circle {
	width: 50px;
    height:50px; 
    border-radius: 70%;
    overflow: hidden;
}

.profile-image-ratio {
	width: 100%;
    height: 100%;
    object-fit: cover;
}

#logoutText {
	text-decoration: none;
	font-size: 12px;
	font-style: italic;
	color:#2E9AFE;
}

#logoutText:hover {
	text-decoration: none;
	font-weight: 600;
	color:#2E9AFE;
}

#loginText {
	color: #045FB4;
	font-size: 13px;
	font-style: italic;
	text-decoration: none;
}

#loginText:hover {
	color: #2E9AFE;
}

.stop-drag {
	-webkit-user-select: none !important; 
	-moz-user-select: -moz-none !important;
	-ms-user-select: none !important;
	user-select: none !important;
}

.rounded-image {
	border-radius: 5%;
	overflow: hidden;
}

.card {
	margin-top: 50px;
	border-color: #E6E6E6;
	border-radius: 12px;
	overflow: hidden;
}

.card-profile-image-circle {
	width: 35px;
    height:35px; 
    border-radius: 70%;
    overflow: hidden;
}

.card-top {
	background-color:#EFFBFB;
}

.card-comment-desc {
	font-size: larger;
	background-color:#EFFBFB;
}

#userNameInHead, #userNameInHead:hover {
	color: #045FB4;
	text-decoration: none;
}

.password-change {
	background-color:#EFFBFB;
}

#imageChangeBox {
	width: 400px;
}
