@charset "UTF-8";

#wrap {
	width: 750px;
	height: auto;
}

.contents {
    min-height: 500px; 
}

header {
	height: 80px;
	background-color:#E0F8F7;
	border-radius: 12px;
	overflow: hidden;
}

#loginBox {
	width: 400px;
	height: 310px;
	background-color:#EFFBFB;
	border-color: #E6E6E6;
	border-radius: 15px;
	overflow: hidden;
}

#signUpForm {
	width: 500px;
	height: 340px;
	background-color:#EFFBFB;
	border-color: #E6E6E6;
	border-radius: 15px;
	overflow: hidden;
}

#writeTextArea {
	border:none;
	outline: none;
	padding: 20px;
}

#comment {
	border: none;
}

.comment-btn {
	height: 36px;
	width: 80px;
	font-size: 15px;
}

.logo-text, .logo-text:hover {
	text-decoration: none;
	color:#045FB4;
	font-style: italic;
	padding-top: 17px;
}

.profile-image-circle {
	width: 50px;
    height:50px; 
    border-radius: 70%;
    overflow: hidden;
}

.profile-image-ratio {
	width: 100%;
    height: 100%;
    object-fit: cover;
}

.comment-profile-image-circle {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 2px;
	width: 25px;
    height:23px; 
    border-radius: 70%;
    overflow: hidden;
}

#logoutText {
	text-decoration: none;
	font-size: 12px;
	font-style: italic;
	color:#2E9AFE;
}

#logoutText:hover {
	text-decoration: none;
	font-weight: 600;
	color:#2E9AFE;
}

#loginText {
	color: #045FB4;
	font-size: 13px;
	font-style: italic;
	text-decoration: none;
}

#loginText:hover {
	color: #2E9AFE;
}

.stop-drag {
	-webkit-user-select: none !important; 
	-moz-user-select: -moz-none !important;
	-ms-user-select: none !important;
	user-select: none !important;
}

.rounded-image {
	border-radius: 5%;
	overflow: hidden;
}

.card {
	margin-top: 50px;
	border-color: #E6E6E6;
	border-radius: 12px;
	overflow: hidden;
}

.card-in-profile {
	margin-top: 20px;
	border-color: #E6E6E6;
	border-radius: 12px;
	overflow: hidden;
}

.card-profile-image-circle {
	width: 35px;
    height:35px; 
    border-radius: 70%;
    overflow: hidden;
}

.card-top {
	background-color:#EFFBFB;
	font-size: 17px;
	font-weight: bold;
}

.post-userLoginId {
	font-size: 15px;
	font-weight: bold;
}

.card-comment-desc {
	font-size: larger;
	background-color:#EFFBFB;
}

#userNameInHead, #userNameInHead:hover {
	color: #045FB4;
	text-decoration: none;
}

.password-change {
	background-color:#EFFBFB;
}

#imageChangeBox {
	width: 400px;
}

.a-tag-deco-none, .a-tag-deco-none:hover {
	text-decoration: none;
	color: #045FB4;
}

.comment-date {
	font-size: 12px;
}

.post-content-font {
	font-size: 16px;
}

.comment-id-box {
	width: 135px;
	padding-left: 4px;
	padding-right: 0px;
}

.comment-content-box {
	width: 373px;
	padding-left: 4px;
	padding-right: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.comment-date-box {
	width: 100px;
	padding-left: 7px;
	padding-right: 0px;
}

#imgModalCancelBtn {
	width: 70px;
}

.image-modal .modal-content {
	margin-top: 300px;
}